<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <th:block th:insert="~{layout/head :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/stylesLms.css}">
    <title>LMS_수강생 페이지</title>
</head>


<body class="sb-nav-fixed">
<th:block th:insert="~{layout/lmsTop :: lmsTop}"></th:block>
<div id="layoutSidenav">
    <!--<th:block th:insert="~{layout/lmsMenuAdmin :: lmsMenu}"></th:block>-->
    <th:block th:insert="~{layout/lmsMenuStu :: lmsMenu}"></th:block>
    <div id="layoutSidenav_content">
        <main>
            <th:block layout:fragment="content"></th:block>

            <div class="layout_contents">

                <div class="page_wrap" style="margin-top: 50px;">
                    <h2 class="page_tit"></h2>
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th class="text-center" style="vertical-align: middle">번호</th>
                            <!--<th class="text-center" style="vertical-align: middle">수강생명</th>-->
                            <th class="text-center" style="vertical-align: middle">강의명</th>
                            <th class="text-center" style="vertical-align: middle">강사명</th>
                            <th class="text-center" style="vertical-align: middle">수강 현황</th>
                            <th class="text-center" style="vertical-align: middle">수강 신청 기간</th>
                            <th class="text-center" style="vertical-align: middle">강의 운영 기간</th>
                            <th class="text-center" style="vertical-align: middle">강의 상태</th>
                            <th class="text-center" style="vertical-align: middle">상세보기</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="courseList, status: ${courseList}" style="vertical-align: middle;">
                            <td th:text="${status.index + 1}">
                                <!--<p th:text="${status.count }"></p>-->
                            </td>

                        <!--    <td>
                                <p2 th:text="${courseList.getUserName()}"></p2>
                            </td>-->

                            <td>
                                <p2 th:text="${courseList.getLectureName()}"></p2>
                            </td>

                            <td>
                                <p2 th:text="${courseList.getTeacherName()}"></p2>
                            </td>

                            <td>
                                <p2 th:text="${courseList.getStudentStatus() == 'REQ' ? '수강신청완료' : (courseList.getStudentStatus() == 'COMPLETE' ? '수강 중' : (courseList.getStudentStatus()== 'CANCEL' ? '수강취소' : '알 수 없음'))}"></p2>
                            </td>



                            <td>
                                <p2 th:utext="${#temporals.format(lectureList.getStartEnrolmentDate(), 'yy.MM.dd')}"></p2>
                                <strong> - </strong>
                                <p2 th:utext="${#temporals.format(lectureList.getEndEnrolmentDate(), 'yy.MM.dd')}"></p2>
                            </td>

                            <td>
                                <p2 th:utext="${#temporals.format(lectureList.getStartStudyDate(), 'yy.MM.dd')}"></p2>
                                <strong> - </strong>
                                <p2 th:utext="${#temporals.format(lectureList.getEndStudyDate(), 'yy.MM.dd')}"></p2>
                            </td>


                            <td>
                                <p2 th:text="${courseList.getLectureAct() == 1 ? '강의예정' : (courseList.getLectureAct() == 2 ? '강의중' : (courseList.getLectureAct() == 3 ? '강의종료' : '폐강'))}"></p2>
                            </td>


                            <td>
                                <div class="btn_group">
                                    <a th:href="@{'/student/getCourse/'+${courseList.getStudentNo()}}" th:if="${courseList.getStudentStatus() ne 'CANCEL'}"
                                       class="btn btn-primary">상세보기</a>

                                    <p2 class="" style="color: red;"
                                       th:if="${courseList.getStudentStatus() eq 'CANCEL'}">수강 취소된 강의</p2><br>

                                </div>

                            </td>

                        </tr>

                        </tbody>
                    </table>


                </div>

            </div>
        </main>
    </div>

</div>
<th:block th:insert="~{layout/lmsFooter :: lmsFooter}"></th:block>
</div>
</body>
</html>


