<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="testLayout/layoutLecLms">
<head>
    <title>LMS_수강생 페이지</title>
</head>


<th:block layout:fragment="content">
    <div id="layoutSidenav">


        <div class="layout_contents"> <!--margin 설정-->

            <div class="content">

                <div class="row mt-3">
                    <div class="col">
                        <div class="card" th:with="course=${course}">
                            <div class="card-header">
                                <h2 class="title">강의 정보</h2>
                            </div>

                            <div class="card-body">

                                <table class="table"
                                       style=" width: 70%; margin: 0 auto;vertical-align: middle; }">


                                    <tr>
                                        <th> 수강 철회</th>
                                        <td>
                                            <button class="btn btn-danger" style="width: 150px;"
                                                    th:onclick="'confirmWithdraw(' + ${course.getStudentNo()} + ')'">
                                                수강 취소
                                            </button>
                                        </td>
                                    </tr>

                                    <script th:inline="javascript">
                                        /*<![CDATA[*/
                                        function confirmWithdraw(studentNo) {
                                            var confirmation = confirm("정말 수강신청을 철회하시겠습니까?");

                                            if (confirmation) {
                                                window.location.href = '/student/deleteCourse/' + studentNo;
                                                alert("수강신청이 철회되었습니다.");
                                            }
                                            /*else {
                                                alert("수강신청 철회가 취소되었습니다.");
                                            }*/
                                        }

                                        /*]]>*/
                                    </script>


                                    <tr>
                                        <th>강의 제목</th>
                                        <td th:text="${course.getLectureName()}"></td>
                                    </tr>

                                    <tr>
                                        <th>수강 상태</th>
                                        <td th:text="${course.getStudentStatus() == 'REQ' ? '수강신청완료' : (course.getStudentStatus() == 'COMPLETE' ? '수강 중' : (course.getStudentStatus()== 'CANCEL' ? '수강취소' : '알 수 없음'))}"
                                            style="color: blue"></td>
                                    </tr>


                                    <tr>
                                        <th>강사명</th>
                                        <td th:text="${course.getTeacherName()}"></td>
                                    </tr>

                                    <tr>
                                        <th>강좌 설명</th>
                                        <td th:text="${course.getLectureContent()}"></td>
                                    </tr>

                                    <tr>
                                        <th>수강 신청 기간</th>
                                        <td>
                                            <p2 th:text="${course.getStartEnrolmentDate()}"></p2>
                                            <strong> - </strong>
                                            <p2 th:text="${course.getEndEnrolmentDate()}"></p2>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>강의 운영 기간</th>
                                        <td>
                                            <p2 th:text="${course.getStartStudyDate()}"></p2>
                                            <strong> - </strong>
                                            <p2 th:text="${course.getEndStudyDate()}"></p2>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>강의 상태</th>
                                        <td>
                                            <p2 th:text="${course.getLectureAct() == 1 ? '강의예정' : (course.getLectureAct() == 2 ? '강의중' : (course.getLectureAct() == 3 ? '강의종료' : '폐강'))}"></p2>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>강의 이미지</th>
                                        <td><img th:src="@{'/upload/' + ${course.getLectureImg1()}}" alt=""
                                                 style="width: 400px;"></td>
                                    </tr>

                                    <tr>
                                        <th>강의 소개 이미지</th>
                                        <td><img th:src="@{'/upload/' + ${course.getLectureImg2()}}" alt=""
                                                 style="    width: 400px;"></td>
                                    </tr>


                                    <tr>
                                        <th>강의 샘플 영상</th>
                                        <td>
                                            <div class="player">
                                                <div class="vdo_fr">
                                                    <video id="video">
                                                        <source th:src="@{'/upload/' + ${course.getLectureVedio()}}"
                                                                type="video/mp4"/>
                                                    </video>
                                                </div>
                                                <div id="timebar">
                                                    <span id="currentTime"></span>
                                                </div>
                                                <div id="buttonbar">
                                                    <button id="restart" class="player_btn"></button>
                                                    <button id="rew" class="player_btn"></button>
                                                    <button id="play" class="player_btn"></button>
                                                    <button id="pause" class="player_btn"></button>
                                                    <button id="stop" class="player_btn"></button>
                                                    <button id="fastFwd" class="player_btn"></button>
                                                    <button id="mute" class="player_btn"></button>
                                                    <button id="unmute" class="player_btn"></button>
                                                    <input id="vol" type="range" value="500" min="0" max="1000">
                                                    <button id="vmup" class="player_btn"></button>
                                                    <button id="vmdown" class="player_btn"></button>
                                                    <button id="volTxt">100%</button>
                                                    <button id="sizeup" class="player_btn"></button>
                                                    <button id="sizedown" class="player_btn"></button>
                                                    <button id="full" class="player_btn"></button>
                                                    <button id="original" class="player_btn"></button>
                                                </div>
                                                <div id="progress">
                                                    <div id="progressBar"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <script th:src="@{/js/lecture/vdo.js}"/>
                                    </script>


                                </table>

                            </div><!--end card body-->

                        </div><!--end card-->
                    </div><!-- end col-->
                </div><!-- end row-->
            </div>


        </div>
    </div>
</th:block>
</html>