<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block th:fragment="lmsFooter">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2023</div>
                    <div>
                        <a th:href="@{/privacyPolicy}">개인 정보 처리 방침</a>
                    </div>
                </div>
            </div>
        </footer>
        <script th:src="@{/js/scripts.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script th:src="@{/js/chart-area-demo.js}"></script>
        <script th:src="@{/js/chart-bar-demo.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script th:src="@{/js/datatables-simple-demo.js}"></script>
    </th:block>
</html>