<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <th:block th:insert="~{layout/head :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/stylesLms.css}">
    <title>관리자 페이지</title>
</head>


<body class="sb-nav-fixed">
<th:block th:insert="~{layout/lmsTop :: lmsTop}"></th:block>
<div id="layoutSidenav">
    <!--<th:block th:insert="~{layout/lmsMenuAdmin :: lmsMenu}"></th:block>-->
    <th:block th:insert="~{layout/lmsMenuAdminLec :: lmsMenu2}"></th:block>
    <div id="layoutSidenav_content">
        <main>
            <th:block layout:fragment="content"></th:block>
            <div class="layout_contents">
                <div class="btn_group">
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/lectureSave}" class="btn btn-secondary"
                       style="float: right;">강좌등록</a>
                </div>

                <div class="page_wrap" style="margin-top: 50px;">
                    <h2 class="page_tit"></h2>
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th class="text-center" style="vertical-align: middle">번호</th>
                            <th class="text-center" style="vertical-align: middle">강의명</th>
                            <th class="text-center" style="vertical-align: middle">강사명</th>
                            <th class="text-center" style="vertical-align: middle">수강 신청 기간</th>
                            <th class="text-center" style="vertical-align: middle">강의 운영 기간</th>
                            <th class="text-center" style="vertical-align: middle">강의 상태</th>
                            <th class="text-center" style="vertical-align: middle">상세보기</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="lectureList, status: ${lectureList}" style="vertical-align: middle;">
                            <td th:text="${status.index + 1}">
                                <!--<p th:text="${status.count }"></p>-->
                            </td>

                            <td>
                                <p2 th:text="${lectureList.getLectureName()}"></p2>
                            </td>


                            <td>
                                <!--<p2>임시 강사명</p2>-->
                                <p2 th:text="${lectureList.getUserName()}">임시 강사명</p2>
                            </td>


                            <td>
                                <p2 th:text="${lectureList.getStartEnrolmentDate()}"></p2>
                                <strong> - </strong>
                                <p2 th:text="${lectureList.getEndEnrolmentDate()}"></p2>
                            </td>

                            <td>
                                <p2 th:text="${lectureList.getStartStudyDate()}"></p2>
                                <strong> - </strong>
                                <p2 th:text="${lectureList.getEndStudyDate()}"></p2>
                            </td>

                            <td>
                                <p2 th:text="${lectureList.getLectureAct() == 1 ? '강의예정' : (lectureList.getLectureAct() == 2 ? '강의중' : (lectureList.getLectureAct() == 3 ? '강의종료' : '오류'))}"></p2>
                            </td>


                            <td>
                                <div class="btn_group">
                                    <a th:href="@{'/admin/getLecture/'+${lectureList.lecture_no}}"
                                       class="btn btn-primary">상세보기</a>
                                </div>
                            </td>

                        </tr>

                        </tbody>
                    </table>


                </div>

            </div>
        </main>
    </div>

</div>
<th:block th:insert="~{layout/lmsFooter :: lmsFooter}"></th:block>
</div>
</body>
</html>


