<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <th:block th:insert="~{layout/head :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/stylesLms.css}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

</script>


    <title>관리자 페이지</title>
    <style>
        .text-danger {
            color: red;
        }

        .text-danger2 {
            color: red;
            font-weight: bold;
        }
    </style>
</head>

<body class="sb-nav-fixed">
<th:block th:insert="~{layout/lmsTop :: lmsTop}"></th:block>

<div id="layoutSidenav">
    <th:block th:insert="~{layout/lmsMenuAdminLec :: lmsMenu2}"></th:block>

    <div id="layoutSidenav_content">
        <main>
            <div class="layout_contents">

                <div class="content">
                    <div class="row mt-3">
                        <div class="col">
                            <div class="card">

                                <div class="card-header">
                                    <h2 class="title" style="float: left;">강좌 리스트</h2>


                                    <div class="btn_group" style="padding-top: 4px; float: right; margin-right: 10px;">
                                        <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/lectureSave}" class="btn btn-secondary">강의 등록</a>
                                    </div>
                                    <select id="lectureStatus" class="form-select form-select-md" onchange="filterTable()" style="float: right; margin-right: 10px;      margin-top: 4px; width: 15%;">
                                        <option value="all">전체</option>
                                        <option value="1">강의예정</option>
                                        <option value="2">강의중</option>
                                        <option value="3">강의종료</option>
                                        <option value="4">폐강</option>
                                        <option value="5">강의철회</option>
                                    </select>


                                </div>




                                <div class="card-body">
                                     <!--  <div th:include="lectureTableFragment :: lectureTableFragment"></div>-->


                              <!--      <div id="lectureTableFragmentContainer">
                                        <div id="lectureTableFragment" th:replace="admin/lecture/lectureList :: lectureTableFragment"></div>
                                    </div>-->


                                    <div id="lectureTableFragment" th:fragment="lectureTableFragment" class="page_wrap">
                                        <table id="datatablesSimple" class="text-center table">
                                            <thead>
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle; text-align: center;">번호</th>
                                                <th class="text-center" style="vertical-align: middle; text-align: center;">강의명</th>
                                                <th class="text-center" style="vertical-align: middle; text-align: center;">강사명</th>
                                                <th class="text-center" style="vertical-align: middle; text-align: center;">신청 인원</th>
                                                <th class="text-center" style="vertical-align: middle; text-align: center;">최대 인원</th>
                                                <th class="text-center" style="vertical-align: middle; text-align: center;">최소 인원</th>
                                                <th class="text-center" style="vertical-align: middle; text-align: center;">수강 신청 기간</th>
                                                <th class="text-center" style="vertical-align: middle; text-align: center;">강의 운영 기간</th>
                                                <th class="text-center" style="vertical-align: middle; text-align: center;">강의 상태</th>
                                                <th class="text-center" style="vertical-align: middle; text-align: center;">상세보기</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            <tr th:each="lectureList, status: ${lectureList}"
                                                style="vertical-align: middle;">
                                                <td th:text="${status.index + 1}">
                                                    <!--<p th:text="${status.count }"></p>-->
                                                </td>

                                                <td>
                                                    <p2 th:text="${lectureList.getLectureName()}"></p2>
                                                </td>

                                                <td>
                                                    <!--<p2>임시 강사명</p2>-->
                                                    <p2 th:text="${lectureList.getUserName()}"></p2>
                                                </td>

                                                <td>
                                                    <strong th:text="${lectureList.getLectureCurnum()}"
                                                            style="color: #002a80"></strong>
                                                </td>

                                                <td>
                                                    <p2 th:text="${lectureList.getLectureMaxnum()}"></p2>
                                                </td>

                                                <td>
                                                    <p2 th:text="${lectureList.getLectureMinnum()}"></p2>
                                                </td>


                                                <td>
                                                    <p2 th:utext="${#temporals.format(lectureList.getStartEnrolmentDate(), 'yy.MM.dd')}"></p2>
                                                    <strong> - </strong>
                                                    <p2 th:utext="${#temporals.format(lectureList.getEndEnrolmentDate(), 'yy.MM.dd')}"></p2>
                                                </td>

                                                <td>
                                                    <p2 th:utext="${#temporals.format(lectureList.getStartStudyDate(), 'yy.MM.dd')}"></p2>
                                                    <strong> - </strong>
                                                    <p2 th:utext="${#temporals.format(lectureList.getEndStudyDate(), 'yy.MM.dd')}"></p2>
                                                </td>



                                                <td>
                                                    <p2 th:text="${lectureList.getLectureAct() == 1 ? '강의예정'
                                                                : (lectureList.getLectureAct() == 2 ? '강의중'
                                                                : (lectureList.getLectureAct() == 3 ? '강의종료'
                                                                : (lectureList.getLectureAct() == 4 ? '폐강'
                                                                : (lectureList.getLectureAct() == 5 ? '강의철회' : ''))))}"
                                                        th:class="${lectureList.getLectureAct() == 4 ? 'text-danger' : ''}"
                                                        th:classappend="${lectureList.getLectureAct() == 5 ? 'text-danger' : ''}">
                                                    </p2>
                                                </td>


                                                <td>
                                                    <div class="btn_group">
                                                        <a th:href="@{'/admin/getlecture/'+${lectureList.getLectureNo()}}"
                                                           class="btn btn-primary">상세보기</a>
                                                    </div>
                                                </td>

                                            </tr>

                                            </tbody>
                                        </table>

                                    </div>


                                </div><!--end card body-->
                            </div><!--end card-->
                        </div><!-- end col-->
                    </div><!-- end row-->
                </div>


            </div>
        </main>
    </div>
</div>



<script>
    function filterTable() {
        var statusFilter = document.getElementById("lectureStatus").value;
        console.log("Selected Status: " + statusFilter);

        // Make an AJAX call to get filtered lectures
        if (statusFilter === "all") {
            $.ajax({
                type: "GET",
                url: "/admin/filteredLectureList",
                data: { status: 0 },
                success: function (data) {
                    console.log("Received data:", data);
                    // Replace the content of the table fragment with the new data
                    $('#lectureTableFragment').html(data);

                    // Trigger DataTables initialization
                    initDatatables();
                },
                error: function (error) {
                    console.error("Ajax request failed:", error);
                }
            });
        } else {
            $.ajax({
                type: "GET",
                url: "/admin/filteredLectureList",
                data: { status: statusFilter },
                success: function (data) {
                    console.log("Received data:", data);
                    // Replace the content of the table fragment with the new data
                    $('#lectureTableFragment').html(data);

                    // Trigger DataTables initialization
                    initDatatables();
                },
                error: function (error) {
                    console.error("Ajax request failed:", error);
                }
            });
        }
    }


    function initDatatables() {
        // Destroy the existing DataTable instance
        if ($.fn.DataTable.isDataTable('#datatablesSimple')) {
            $('#datatablesSimple').DataTable().destroy();
        }

        // Initialize DataTable on the table
        $('#datatablesSimple').DataTable({
            "paging": true,
            "lengthChange": false,
        });
    }

    /*    function filterTable() {
            var statusFilter = document.getElementById("lectureStatus").value;
            console.log("Selected Status: " + statusFilter);


            if (statusFilter === "all") {

                $.ajax({
                    type: "GET",
                    url: "/admin/filteredLectureList",
                    data: {status: 0},  // Pass 0 to indicate "all" status
                    success: function (data) {
                        console.log("Received data:", data);
                        // Replace the content of the table with the fragment
                        $('#lectureTableFragment').html(data);

                        // Trigger DataTables initialization
                        initDatatables();
                    },
                    error: function (error) {
                        console.error("Ajax request failed:", error);
                    }
                });
            } else {
                // Make an AJAX call to get filtered lectures
                $.ajax({
                    type: "GET",
                    url: "/admin/filteredLectureList",
                    data: {status: statusFilter},
                    success: function (data) {
                        console.log("Received data:", data);
                        // Replace the content of the table with the fragment
                        $('#lectureTableFragment').html(data);

                        // Trigger DataTables initialization
                        initDatatables();
                    },
                    error: function (error) {
                        console.error("Ajax request failed:", error);
                    }
                });
            }
        }

        function initDatatables() {
            $('#datatablesSimple').DataTable({
                "paging": true,
                "lengthChange": false,

            });
        }*/
</script>


<!--<script>
    function filterTable() {
        var statusFilter = document.getElementById("lectureStatus").value;
        console.log("Selected Status: " + statusFilter);

        // Handle "all" option separately
        if (statusFilter === "all") {
            // Make an AJAX call to get all lectures
            $.ajax({
                type: "GET",
                url: "/admin/filteredLectureList",
                data: {status: 0},  // Pass 0 to indicate "all" status
                success: function (data) {
                    console.log("Received data:", data);
                    // Replace the content of the table with the fragment
                    $('#lectureTableFragment').html(data);
                },
                error: function (error) {
                    console.error("Ajax request failed:", error);
                }
            });
        } else {
            // Make an AJAX call to get filtered lectures
            $.ajax({
                type: "GET",
                url: "/admin/filteredLectureList",
                data: {status: statusFilter},
                success: function (data) {
                    console.log("Received data:", data);
                    // Replace the content of the table with the fragment
                    $('#lectureTableFragment').html(data);
                },
                error: function (error) {
                    console.error("Ajax request failed:", error);
                }
            });
        }
    }


</script>-->


<th:block th:insert="~{layout/lmsFooter :: lmsFooter}"></th:block>
</div>
</body>
</html>