<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="testLayout/layoutLecLms">
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <title>LMS_관리자 페이지</title>
</head>

<th:block layout:fragment="content">

    <div id="layoutSidenav">

        <div class="layout_contents">

            <div class="content">
                <div class="row mt-3">
                    <div class="col">
                        <div class="card">

                            <div class="card-header">
                                <h2 class="title" style="float: left;">과정 문의</h2>

                                <!--<select id="lectureStatus" class="form-select form-select-md"
                                        onchange="filterTable()"
                                        style="float: right; margin-right: 10px;      margin-top: 4px; width: 15%;">
                                    <option value="all">전체</option>
                                    <option th:each="course, status: ${courseList}"
                                            th:value="${course.getLectureNo()}" th:text="${course.getLectureName()}">
                                    </option>
                                </select>-->

                            </div>

                            <div class="card-body">
                                <div id="lectureTableFragment" th:fragment="lectureTableFragment" class="page_wrap">
                                    <table id="datatablesSimple" class="text-center table">
                                        <thead>
                                        <tr>
                                            <th class="text-center" style="vertical-align: middle">번호</th>
                                            <th class="text-center" style="vertical-align: middle">강의명</th>
                                            <th class="text-center" style="vertical-align: middle">강사명</th>
                                            <th class="text-center" style="vertical-align: middle">제목</th>
                                            <th class="text-center" style="vertical-align: middle">등록날짜</th>
                                            <th class="text-center" style="vertical-align: middle">#</th>
                                            <!-- <th class="text-center" style="vertical-align: middle">상세보기</th>-->
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr th:each="entry, status : ${requestVwLectureMap}"
                                            style="vertical-align: middle;">
                                            <td th:text="${status.index + 1}">
                                                <!--<p th:text="${status.count }"></p>-->
                                            </td>

                                            <td>
                                                <p2 th:text="${entry.value.lectureName}"></p2>
                                            </td>

                                            <td>
                                                <p2 th:text="${entry.value.userName}"></p2>
                                            </td>

                                            <td>
                                                <p2 th:text="${entry.key.title}"></p2>
                                            </td>


                                            <td>
                                                <p2 th:utext="${#temporals.format(entry.key.regDate, 'yy.MM.dd')}"></p2>

                                            </td>

                                            <td>
                                                <div class="btn_group">
                                                    <a th:href="@{'/admin/viewRequest/'+${entry.key.request_no}}"
                                                       class="btn btn-primary">글확인</a>
                                                </div>
                                            </td>


                                        </tr>

                                        </tbody>
                                    </table>


                                </div>


                            </div><!--end card body-->
                        </div><!--end card-->
                    </div><!-- end col-->
                </div><!-- end row-->
            </div>


        </div>

    </div>


    <script>
        function filterTable() {
            var statusFilter = document.getElementById("lectureStatus").value;
            console.log("Selected Status: " + statusFilter);

            // Make an AJAX call to get filtered lectures
            if (statusFilter === "all") {
                $.ajax({
                    type: "GET",
                    url: "/admin/filteredLectureList2",
                    data: {status: 0},
                    success: function (data) {
                        console.log("Received data:", data);
                        // Replace the content of the table fragment with the new data
                        $('#lectureTableFragment').html(data);

                        // Trigger DataTables initialization
                        initDatatables();
                    },
                    error: function (error) {
                        console.error("Ajax request failed:", error);
                    }
                });
            } else {
                $.ajax({
                    type: "GET",
                    url: "/admin/filteredLectureList2",
                    data: {status: statusFilter},
                    success: function (data) {
                        console.log("Received data:", data);
                        // Replace the content of the table fragment with the new data
                        $('#lectureTableFragment').html(data);

                        // Trigger DataTables initialization
                        initDatatables();
                    },
                    error: function (error) {
                        console.error("Ajax request failed:", error);
                    }
                });
            }
        }


        function initDatatables() {
            var dataTableInstance = $('#datatablesSimple').DataTable();

            // Destroy the existing DataTable instance if it exists
            if (dataTableInstance) {
                dataTableInstance.destroy();
            }

            // Initialize DataTable on the table
            $('#datatablesSimple').DataTable({
                "paging": true,
                "lengthChange": false,
            });
        }

    </script>


</th:block>
</html>


