<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block th:fragment="header">
        <div class="container-fluid border-bottom">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar p-0">
                    <a th:href="@{/}" class="navbar-brand"><h1 class="fw-bold mb-0">EduTech<span>LMS</span></h1></a>
                    <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse navbar-end" id="navbarCollapse">
                        <div class="navbar-nav ms-auto">
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link text-black" data-bs-toggle="dropdown">커뮤니티</a>
                                <div class="dropdown-menu bg-light mt-2">
                                    <a class="dropdown-item text-black" th:href="@{/}">공지사항</a>
                                    <a class="dropdown-item text-black" th:href="@{/}">이용사항</a>
                                </div>
                            </div>
                            <a th:href="@{/}" class="nav-item text-black nav-link">QnA</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </th:block>
</html>