<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block th:fragment="header">
        <div class="container-fluid" id="header">
            <div class="border-bottom">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar p-0">
                        <a th:href="@{/}" class="navbar-brand"><h1 class="fw-bold mb-0">EduTech<span>LMS</span></h1></a>
                        <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse navbar-end" id="navbarCollapse">
                            <div class="navbar-nav ms-auto">
                                <a th:href="@{/notice/noticeList(lecture_no =0)}" class="nav-item text-black nav-link">공지사항</a>
                                <a th:href="@{/lecture/lectureList}" class="nav-item text-black nav-link">개설강좌</a>
                                <a th:href="@{/}" class="nav-item text-black nav-link">공지사항</a>
                                <a th:href="@{/}" class="nav-item text-black nav-link">QnA</a>
                                <th:block sec:authorize="isAuthenticated()">
                                    <a th:href="@{/logout}" class="btn btn-primary" style="margin-left: 20px;">로그아웃</a>
                                </th:block>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </th:block>
</html>