<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block th:fragment="header">
        <div class="container-fluid" id="header">
            <div class="border-bottom">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar p-0">
                        <a th:href="@{/}" class="navbar-brand"><h1 class="fw-bold mb-0">EduTech<span>LMS</span></h1></a>
                        <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse navbar-end" id="navbarCollapse">
                            <div class="navbar-nav ms-auto">
                                <a th:href="@{/lecture/lectureList}" class="nav-item text-black nav-link">개설강좌</a>
                                <a th:href="@{/notice/noticeList(lecture_no =0)}" class="nav-item text-black nav-link">공지사항</a>
                                <a th:href="@{/qna/qnaList(lecture_no =0)}" class="nav-item text-black nav-link">QNA</a>
                                <th:block sec:authorize="isAuthenticated()">
                                    <ul class="navbar-nav me-auto me-md-0 ms-3 ms-lg-4">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="pe-2">[[${#authentication.principal.userName}]] 님</span>
                                                <i class="fas fa-user fa-fw"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                                <th:block sec:authorize="!hasRole('ADMIN')">
                                                    <li><a class="dropdown-item" th:href="@{/myPage}">마이페이지</a></li>
                                                    <li><hr class="dropdown-divider" /></li>
                                                </th:block>
                                                <li><a class="dropdown-item" th:href="@{/logout}">로그아웃</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </th:block>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </th:block>
</html>