<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block th:fragment="lmsTop">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" sec:authorize="hasRole('ADMIN')" th:href="@{/admin/home}">LMS</a>
            <a class="navbar-brand ps-3" sec:authorize="hasRole('TEACHER')" th:href="@{/teacher/home}">LMS</a>
            <a class="navbar-brand ps-3" sec:authorize="hasRole('STUDENT')" th:href="@{/student/home}">LMS</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <!-- Navbar-->
            <ul class="navbar-nav me-auto me-md-0 ms-3 ms-lg-4 position-absolute" style="right:1rem;">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="text-white pe-2">[[${#authentication.getPrincipal().getUserName()}]] 님</span>
                        <i class="fas fa-user fa-fw"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li sec:authorize="!hasRole('ADMIN')"><a class="dropdown-item" th:href="@{/myPage}">마이페이지</a></li>
                        <li sec:authorize="!hasRole('ADMIN')"><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" th:href="@{/logout}">로그아웃</a></li>
                    </ul>
                </li>
                <a class="nav-link" th:href="@{/}"  role="button"><i class="fas fa-home fa-fw" ></i></a>
            </ul>
        </nav>
    </th:block>
</html>