<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">

<!-- head include-->
<head>
    <th:block th:insert="~{layout/head.html :: head}"></th:block>
    <script src="https://kit.fontawesome.com/93f6428cee.js" crossorigin="anonymous"></script>
    <title>제목</title>

    <style>
        .add-to-like-btn {
            position: relative;
            border: 2px solid transparent;
            height: 40px;
            padding: 0 30px;
            /*background-color: #CCCCCC;*/
            /*color: #FFF;*/
            text-transform: uppercase;
            font-weight: 700;
            border-radius: 5px;
            -webkit-transition: 0.2s all;
            transition: 0.2s all;
        }


        .add-to-chat-btn {
            position: relative;
            border: 2px solid transparent;
            height: 40px;
            padding: 0 30px;
            background-color: #FFA425;
            color: #FFF;
            text-transform: uppercase;
            font-weight: 700;
            border-radius: 5px;
            -webkit-transition: 0.2s all;
            transition: 0.2s all;
        }


        .add-to-myshop-btn {
            position: relative;
            border: 2px solid transparent;
            height: 40px;
            padding: 0 30px;
            background-color: #ef233c;
            color: #FFF;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 18px;
            border-radius: 5px;
            -webkit-transition: 0.2s all;
            transition: 0.2s all;
            width: 250px;
        }


        .add-to-up-btn{
            position: relative;
            border: 2px solid transparent;
            height: 40px;
            background-color: #FFF;
            color: #ef233c;
            border-color: #ef233c;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 18px;
            border-radius: 5px;
            -webkit-transition: 0.2s all;
            transition: 0.2s all;
            width: 70px;
        }


        /* 별점 */
        #myform fieldset {
            display: inline-block;
            direction: rtl;
            border: 0;
        }

        #myform fieldset legend {
            text-align: right;
        }

        #myform input[type=radio] {
            display: none;
        }

        #myform span {
            font-size: 2em;
            color: transparent;
            text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
        }


        #myform input[type=radio]:checked ~ label {
            text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
        }


        #reviewContents {
            width: 100%;
            height: 150px;
            padding: 10px;
            box-sizing: border-box;
            border: solid 1.5px #D3D3D3;
            border-radius: 5px;
            font-size: 16px;
            resize: none;
        }
    </style>

</head>


<body>
<!-- header include-->
<header class="header" id="hd">
    <div th:insert="~{layout/header :: header}"></div>
</header>

<!--contens 필수-->
<div class="contents">

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row" th:each="product: ${product}">
                <!-- Product main img -->
                <div class="col-md-5 col-md-push-2">
                    <div id="product-main-img">
                        <div class="product-preview">
                            <img th:src="@{'/upload/' + ${product.getImgsrc1()}}" alt="">
                        </div>

                        <div class="product-preview">
                            <img th:src="@{'/upload/' + ${product.getImgsrc2()}}" alt="">
                        </div>

                        <div class="product-preview">
                            <img th:src="@{'/upload/' + ${product.getImgsrc3()}}" alt="">
                        </div>

                        <div class="product-preview">
                            <img th:src="@{'/upload/' + ${product.getImgsrc4()}}" alt="">
                        </div>
                    </div>
                </div>
                <!-- /Product main img -->

                <!-- Product thumb imgs -->
                <div class="col-md-2  col-md-pull-5">
                    <div id="product-imgs">
                        <div class="product-preview">
                            <img th:src="@{'/upload/' + ${product.getImgsrc1()}}" alt="">
                        </div>

                        <div class="product-preview">
                            <img th:src="@{'/upload/' + ${product.getImgsrc2()}}" alt="">
                        </div>

                        <div class="product-preview">
                            <img th:src="@{'/upload/' + ${product.getImgsrc3()}}" alt="">
                        </div>

                        <div class="product-preview">
                            <img th:src="@{'/upload/' + ${product.getImgsrc4()}}" alt="">
                        </div>
                    </div>
                </div>
                <!-- /Product thumb imgs -->

                <!-- Product details -->
                <div class="col-md-5" style="margin-top: 30px;">
                    <div class="product-details">
                        <h3 class="product-name" th:text="${product.getPname()}"
                            style="font-size: 40px; margin-bottom: 50px;"><a href="#">상품이름</a></h3>
                        <!--  <div>
                              <div class="product-rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star-o"></i>
                              </div>
                              <a class="review-link" href="#">10 Review(s) | Add your review</a>
                          </div>-->
                        <div>
                            <h4 class="product-price" th:text="${product.getPrice()}">가격
                            </h4>
                            <span class="product-available">원</span>
                        </div>


                        <ul class="product-links">
                            <li><strong> 판매자&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></li>
                            <li class="sale" th:text="${product.getSeller()}">판매자</li>
                        </ul>

                        <!--ul class="product-links">
                            <li> 상품 수량&nbsp;&nbsp;</li>
                            <li class="sale" th:text="${product.getQuantity()}">상품 수량</li>
                        </ul>-->

                        <ul class="product-links">
                            <li><strong> 등록일&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></li>
                            <li class="sale" th:text="${#temporals.format(product.getResdate(), 'yyyy-MM-dd')}">등록일</li>
                        </ul>




                        <ul class="product-links">
                            <li><strong> 상품 상태&nbsp; </strong></li>
                            <li class="sale" th:text="${product.getQuality()}">상품 상태</li>
                        </ul>


                        <!-- 구매자 일때 -->
                        <div class="add-to-cart" th:if="${product.getSeller() ne userId}">
                         <span th:with="isLiked=${likedProductIds.contains(proPno)}">


                            <span th:if="${isLiked}">
                                <button href="javascript:void(0);" onclick="toggleLike()"
                                        th:data-product-id="${product.pno}" class="add-to-like-btn"
                                        style="color: #ff5050; background-color:#15161D">♥ 찜</button>
                            </span>


                            <span th:unless="${isLiked}">
                                <button href="javascript:void(0);" onclick="toggleLike()"
                                        th:data-product-id="${product.pno}" class="add-to-like-btn"
                                        style="color: #b4b4b4; background-color:#CCCCCC">♥ 찜</button>
                             </span>


                            <a th:if="${product.seller != userId}" th:href="@{/chat/roomEnter(pno=${product.pno})}"><button class="add-to-chat-btn">셀파톡 </button></a>
                            <button class="add-to-cart-btn" th:onclick="|location.href='@{'/pay/payInsert/'+${product.pno}}'| "> 바로 구매</button>
                         </span>
                        </div>


                        <script th:inline="javascript">
                            function toggleLike() {

                                let productNo = [[${product.getPno()}]];
                                let id = [[${userId}]];

                                //alert(productNo  + id);
                                $.ajax({
                                    url: "/product/productLike", //개발
                                    // url: "/team25/product/productLike", //운영
                                    method: "POST",
                                    data: {
                                        pno: productNo,
                                        userId: id
                                    },
                                    success: function(response) {
                                        var likeButton = $("[data-product-id='" + productNo + "']");

                                        if (response.trim() === "liked") {
                                            alert("상품을 찜 했습니다.");
                                            likeButton.css("color","#ff5050");
                                            likeButton.css("background-color","#15161D");
                                        } else if (response.trim() === "unliked") {
                                            alert("찜을 해제했습니다.");
                                            likeButton.css("background-color","#CCCCCC");
                                            likeButton.css("color","#b4b4b4");
                                        } else {
                                            alert("오류가 발생했습니다. 다시 시도해주세요.");
                                        }
                                    }
                                });
                            }
                            $(document).ready(function() {
                                // 좋아요 상태를 기반으로 버튼 색 변경
                                $(".likes").each(function() {
                                    var isLiked = $(this).hasClass("liked");
                                    if (isLiked) {
                                        $(this).addClass("liked");
                                    }
                                });
                            });
                        </script>

                        <!-- 판매자 본인 일때 -->
                        <div class="add-to-cart" th:if="${product.getSeller() eq userId}">
                            <input type="hidden" id="productInfo" th:value="${product.getSeller()}">
                            <button class="add-to-myshop-btn" onclick="pageMove()">
                                내 상점 관리
                            </button>

                            <!--<button th:onclick="|location.href='@{'/product/updateResdate/'+${product.getPno()}}'| "class="add-to-up-btn"> UP </button>-->
                            <button onclick="pageMove2()" class="add-to-up-btn"> UP </button>

                        </div>
                        <script th:inline="javascript">
                            function pageMove() {
                                let seller = document.getElementById("productInfo").value;
                                location.href = "/member/myProList" ;
                            }

                            function pageMove2() {
                                let resdate = [[${product.getResdate()}]];

                                let pno = [[${product.getPno()}]];
                                location.href = "/product/updateResdate/" + pno ;
                            }

                        </script>




                        <!-- <ul class="product-btns">
                             <li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>
                             <li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li>
                         </ul>


                         <ul class="product-links">
                             <li>Share:</li>
                             <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                             <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                             <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                             <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                         </ul>-->
                    </div>
                </div>
                <!-- /Product details -->


                <div class="col-md-6">
                    <div id="product-tab">
                        <ul class="tab-nav">
                            <!--  <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                              <li><a data-toggle="tab" href="#tab2">Details</a></li>-->
                            <li><a data-toggle="tab" href="#tab1">상품 설명</a></li>
                        </ul>
                    </div>


                    <div id="tab1" class="tab-pane fade in">
                        <p th:text="${product.getPcomment()}" style="margin: 70px; font-size: 20px;">상품설명</p>
                    </div>

                </div>


                <!-- Product tab -->
                <div class="col-md-5">
                    <div id="product-tab">
                        <!-- product tab nav -->
                        <ul class="tab-nav">
                            <!--  <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                              <li><a data-toggle="tab" href="#tab2">Details</a></li>-->
                            <li><a data-toggle="tab" href="#tab3" style="font-size: 20px;">후기</a></li>
                        </ul>
                        <!-- /product tab nav -->


                        <!-- tab3  -->
                        <div id="tab3" class="tab-pane fade in">
                            <div class="row">

                                <!-- Reviews -->
                                <div class="col-md-6">
                                    <div id="reviews">
                                        <ul class="reviews">


                                            <li th:each="review2 : ${proSellerReview}">
                                                <div class="review-heading">
                                                    <h5 class="name" th:text="${review2.getId()}">작성자</h5>
                                                    <p class="date" th:text="${review2.getResdate()}"
                                                       style="float: right; padding-right: 120px;">작성일</p>
                                                    <div class="review-rating" id="myform">
                                                        <span th:if="${review2.getScore() == 5}"
                                                              style=" font-size: 1em; color: transparent; text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);">★★★★★</span>
                                                        <span th:if="${review2.getScore() == 4}"
                                                              style=" font-size: 1em; color: transparent; text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);">★★★★</span>
                                                        <span th:if="${review2.getScore() == 3}"
                                                              style=" font-size: 1em; color: transparent; text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);">★★★</span>
                                                        <span th:if="${review2.getScore() == 2}"
                                                              style=" font-size: 1em; color: transparent; text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);">★★</span>
                                                        <span th:if="${review2.getScore() == 1}"
                                                              style=" font-size: 1em; color: transparent; text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);">★</span>
                                                    </div>
                                                </div>
                                                <div class="review-body">
                                                    <p th:text="${review2.getContent()}"> 내용</p>
                                                </div>
                                            </li>

                                        </ul>

                                    </div>
                                </div>
                                <!-- /Reviews -->

                            </div>
                        </div>
                        <!-- /tab3  -->
                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<!-- Section -->
<!-- <div class="section">
     &lt;!&ndash; container &ndash;&gt;
     <div class="container">
         &lt;!&ndash; row &ndash;&gt;
         <div class="row">

             <div class="col-md-12">
                 <div class="section-title text-center">
                     <h3 class="title">Related Products</h3>
                 </div>
             </div>

             &lt;!&ndash; product &ndash;&gt;
             <div class="col-md-3 col-xs-6">
                 <div class="product">
                     <div class="product-img">
                         <img src="./img/product01.png" alt="">
                         <div class="product-label">
                             <span class="sale">-30%</span>
                         </div>
                     </div>
                     <div class="product-body">
                         <p class="product-category">Category</p>
                         <h3 class="product-name" th:text="${product.getPname()}">상품이름</a></h3>
                         <h4 class="product-price" th:text="${product.getPrice()}">가격 </h4>
                         <div class="product-rating">
                         </div>
                         <div class="product-btns">
                             <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
                             </button>
                             <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
                             </button>
                             <button class="quick-view"><i class="fa fa-eye"></i><span
                                     class="tooltipp">quick view</span></button>
                         </div>
                     </div>
                     <div class="add-to-cart">
                         <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                     </div>
                 </div>
             </div>
             &lt;!&ndash; /product &ndash;&gt;

             &lt;!&ndash; product &ndash;&gt;
             <div class="col-md-3 col-xs-6">
                 <div class="product">
                     <div class="product-img">
                         <img src="./img/product02.png" alt="">
                         <div class="product-label">
                             <span class="new">NEW</span>
                         </div>
                     </div>
                     <div class="product-body">
                         <p class="product-category">Category</p>
                         <h3 class="product-name"><a href="#">product name goes here</a></h3>
                         <h4 class="product-price">$980.00
                             <del class="product-old-price">$990.00</del>
                         </h4>
                         <div class="product-rating">
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                         </div>
                         <div class="product-btns">
                             <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
                             </button>
                             <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
                             </button>
                             <button class="quick-view"><i class="fa fa-eye"></i><span
                                     class="tooltipp">quick view</span></button>
                         </div>
                     </div>
                     <div class="add-to-cart">
                         <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                     </div>
                 </div>
             </div>
             &lt;!&ndash; /product &ndash;&gt;

             <div class="clearfix visible-sm visible-xs"></div>

             &lt;!&ndash; product &ndash;&gt;
             <div class="col-md-3 col-xs-6">
                 <div class="product">
                     <div class="product-img">
                         <img src="./img/product03.png" alt="">
                     </div>
                     <div class="product-body">
                         <p class="product-category">Category</p>
                         <h3 class="product-name"><a href="#">product name goes here</a></h3>
                         <h4 class="product-price">$980.00
                             <del class="product-old-price">$990.00</del>
                         </h4>
                         <div class="product-rating">
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star-o"></i>
                         </div>
                         <div class="product-btns">
                             <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
                             </button>
                             <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
                             </button>
                             <button class="quick-view"><i class="fa fa-eye"></i><span
                                     class="tooltipp">quick view</span></button>
                         </div>
                     </div>
                     <div class="add-to-cart">
                         <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                     </div>
                 </div>
             </div>
             &lt;!&ndash; /product &ndash;&gt;

             &lt;!&ndash; product &ndash;&gt;
             <div class="col-md-3 col-xs-6">
                 <div class="product">
                     <div class="product-img">
                         <img src="./img/product04.png" alt="">
                     </div>
                     <div class="product-body">
                         <p class="product-category">Category</p>
                         <h3 class="product-name"><a href="#">product name goes here</a></h3>
                         <h4 class="product-price">$980.00
                             <del class="product-old-price">$990.00</del>
                         </h4>
                         <div class="product-rating">
                         </div>
                         <div class="product-btns">
                             <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
                             </button>
                             <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
                             </button>
                             <button class="quick-view"><i class="fa fa-eye"></i><span
                                     class="tooltipp">quick view</span></button>
                         </div>
                     </div>
                     <div class="add-to-cart">
                         <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                     </div>
                 </div>
             </div>
             &lt;!&ndash; /product &ndash;&gt;

         </div>
         &lt;!&ndash; /row &ndash;&gt;
     </div>
     &lt;!&ndash; /container &ndash;&gt;
 </div>-->
<!-- /Section -->
<!--

     NEWSLETTER
    <div id="newsletter" class="section">
         container
        <div class="container">
             row
            <div class="row">
                <div class="col-md-12">
                    <div class="newsletter">
                        <p>Sign Up for the <strong>NEWSLETTER</strong></p>
                        <form>
                            <input class="input" type="email" placeholder="Enter Your Email">
                            <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
                        </form>
                        <ul class="newsletter-follow">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
             /row
        </div>
         /container
    </div>
     /NEWSLETTER

-->

</div>

<!--footer include--->
<footer class="footer" id="ft">
    <div th:insert="~{layout/footer :: footer}"></div>
</footer>

<script th:src="@{/js/main.js}"></script>

<!-- script 사용시-->


<th:block layout:fragment="script">

</th:block>
</body>

</html>