<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/lmsLayoutAdmin">
<head>
    <title>공지사항 수정하기</title>
    <link rel="stylesheet" th:href="@{/clEditor/jquery.cleditor.css}">
    <script type="text/javascript" th:src="@{/clEditor/jquery.cleditor.js}"></script>
</head>
<th:block layout:fragment="content">
    <div class="container-fluid px-4">
        <h1 class="mt-4">공지사항 관리</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item">LMS</li>
            <li class="breadcrumb-item">공지사항 관리</li>
            <li class="breadcrumb-item active">상세</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                공지사항 수정
            </div>
            <div class="card-body">
                <form th:action="@{/admin/updateNotice}" method="post">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Nno</span>
                        <input type="text" class="form-control" th:value="${notice.notice_no}" name="notice_no" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Title</span>
                        <input type="hidden" name="lecture_no" class="form-control" th:value="${0}">
                        <input type="text" class="form-control" maxlength="200" name="title" th:value="${notice.title}" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Content</span>
                        <textarea rows="5" id="reason" class="form-control col-sm-5" maxlength="2000" name="content" th:utext="${notice.content}"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">작성자</span>
                        <input type="number" class="form-control" th:value="${userName}" readonly required>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">RegDate</span>
                        <input type="text" class="form-control" th:value="${#temporals.format(notice.regDate, 'yyyy-MM-dd')}" readonly>
                    </div>
                    <div class="my-4">
                        <div class="float-end">
                            <a th:href="@{/admin/noticeList}" class="btn btn-secondary">공지사항 목록</a>
                            <button type="submit" class="btn btn-primary">수정</button>
                        </div>
                    </div>
                </form>
            </div><!--end card body-->
        </div><!--end card-->
        </div>
    <script th:inline="javascript">
        $(document).ready(function() {
            $("#reason").cleditor();
        });
    </script>
</th:block>
</html>