<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/lmsLayoutAdmin">
<head>
    <title>공지사항 상세보기</title>
</head>
<th:block layout:fragment="content">
    <div class="container-fluid px-4">
        <h1 class="mt-4">공지사항 관리</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item">LMS</li>
            <li class="breadcrumb-item">공지사항 관리</li>
            <li class="breadcrumb-item active">상세</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-book-open"></i> 공지사항 상세
            </div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <span class="input-group-text">Title</span>
                    <input type="text" class="form-control" th:value="${notice.title}" readonly>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Content</span>
                    <div style="height:200px;" class="form-control col-sm-5" th:utext="${notice.content}"></div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"> 작성자 </span>
                    <input type="text" class="form-control" th:value="${userName}" readonly>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">RegDate</span>
                    <input type="text" class="form-control" th:value="${#temporals.format(notice.regDate, 'yyyy-MM-dd')}" readonly>
                </div>
                <div class="my-4">
                    <div class="float-end">
                        <a th:href="@{/admin/noticeList}" class="btn btn-secondary">공지사항 목록</a>
                        <a sec:authorize="hasRole('ADMIN')" th:if="${notice.mno == login_mno}" th:href="|@{/admin/updateNotice(notice_no=${notice.notice_no})}|" class="btn btn-primary">수정</a>
                        <a sec:authorize="hasRole('ADMIN')" th:href="|@{/admin/deleteNotice(notice_no=${notice.notice_no})}|" class="btn btn-danger">삭제</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>