<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <th:block th:insert="~{layout/head :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/stylesLms.css}">
    <style>
        .content {
            width: 80%;
            margin: 10%;
        }
    </style>
</head>
<body>
<th:block th:insert="~{layout/lmsTop :: lmsTop}"></th:block>
<div id="layoutSidenav">
    <th:block th:insert="~{layout/lmsMenuAdmin :: lmsMenu}"></th:block>
    <div id="layoutSidenav_content">
        <main>
        <div class="content" >
            <div class="row mt-3">
            <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2 class="title">공지사항 관리</h2>
                </div>
                <div class="card-body" >
                    <h5 class="card-title">공지사항 목록</h5>

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">강좌명</th>
                            <th scope="col">제목</th>
                            <th scope="col">등록일</th>
                            <th scope="col">조회수</th>
                            <th scope="col">수정</th>
                            <th scope="col">삭제</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="notice:${noticeList}"  >
                            <td>[[${notice.notice_no}]]</td>
                            <td>강좌명</td>
                            <td>
                                <a th:href="|@{/admin/getNotice(notice_no =${notice.notice_no})}|" class="text-decoration-none"> [[${notice.title}]] </a>
                            </td>
                            <td>[[${#temporals.format(notice.regDate, 'yyyy-MM-dd')}]]</td>
                            <td>[[${notice.visited}]]</td>
                            <td><a sec:authorize="hasRole('ADMIN')" th:href="|@{/admin/updateNotice(notice_no=${notice.notice_no})}|" class="btn btn-primary">수정</a></td>
                            <td><a sec:authorize="hasRole('ADMIN')" th:href="|@{/admin/deleteNotice(notice_no=${notice.notice_no})}|" class="btn btn-danger">삭제</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div><!--end card body-->
                <div class="my-4">
                    <div class="float-end">
<!--                        <a sec:authorize="hasRole('ADMIN')" th:href="|@{/notice/insertNotice}|" class="btn btn-secondary">-->
<!--                            작성하기-->
<!--                        </a>-->
                    </div>
                </div>
            </div><!--end card-->
            </div><!-- end col-->
            </div><!-- end row-->
        </div>
        </main>
        <th:block th:insert="~{layout/lmsFooter :: lmsFooter}"></th:block>
    </div>
</div>

<script th:inline="javascript">
    const errors = [[${errors}]]
    console.log(errors)
    let errorMsg = ''
    if(errors){
        for (let i = 0; i < errors.length; i++) {
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        alert(errorMsg)
    }

</script>
</body>
</html>