<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="testLayout/layoutLecLms">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <th:block th:insert="~{layout/head :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/stylesLms.css}">
    <style>
        .content {
            width: 90%;
            padding-top: 30px;
            padding-bottom: 300px;
            margin: 0 auto;
        }
        .float-end {
            float: right !important;
            margin: 20px;
        }
    </style>
</head>
    <th:block layout:fragment="content">
        <div class="content" >
            <div class="position-relative ps-0 mb-5">
                <h3 class="mb-0">[[${lecture_name}]]</h3>
                <nav class="position-absolute align-middle breadcrumb_area mb-0 lh-1" aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item">[[${lecture_name}]]</li>
                        <li class="breadcrumb-item active" aria-current="page">공지사항</li>
                    </ol>
                </nav>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="title">[공지사항] [[${lecture_name}]]</h3>
                        </div>
                        <div class="card-body" >
                            <table class="text-center" id="datatablesSimple">
                                <thead>
                                <tr>
                                    <th scope="col">번호</th>
                                    <th scope="col">제목</th>
                                    <th scope="col">등록일</th>
                                    <th scope="col">조회수</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="notice, status:${noticeList}"  >
                                    <td th:text="${status.index + 1}"></td>
                                    <td>
                                        <a sec:authorize="hasRole('STUDENT')" th:href="|@{/student/getNotice(notice_no =${notice.notice_no})}|" class="text-decoration-none"> [[${notice.title}]] </a>
                                        <a sec:authorize="hasRole('TEACHER')" th:href="|@{/teacher/getNotice(notice_no =${notice.notice_no})}|" class="text-decoration-none"> [[${notice.title}]] </a>
                                    </td>
                                    <td>[[${#temporals.format(notice.regDate, 'yyyy-MM-dd')}]]</td>
                                    <td>[[${notice.visited}]]</td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!--end card body-->
                        <div class="my-4">
                            <div class="float-end">
                                <a sec:authorize="hasAnyRole('TEACHER')" th:href="|@{/teacher/insertNotice(lecture_no=${lecture_no})}|" class="btn btn-primary">
                                    등록
                                </a>
                            </div>
                        </div>
                    </div><!--end card-->
                </div><!-- end col-->
            </div><!-- end row-->
        </div>
    </th:block>
</html>