<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <th:block th:insert="~{layout/head :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/stylesLms.css}">
    <style>
        .content {
            width: 90%;
            padding-top: 30px;
            padding-bottom: 300px;
            margin: 0 auto;
        }
        .float-end {
            float: right !important;
            margin: 20px;
        }
    </style>
</head>
<body>
<th:block th:insert="~{layout/header :: header}"></th:block>
<div class="container-fluid px-4 content">
    <h1 class="mt-4">공지사항</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item active">공지사항</li>
    </ol>
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-book-open"></i> 공지사항 목록
                </div>
                <div class="card-body" >
                    <table class="text-center" id="datatablesSimple">
                        <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">제목</th>
                            <th scope="col">등록일</th>
                            <th scope="col">조회수</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="notice:${noticeList}"  >
                            <td>[[${notice.notice_no}]]</td>
                            <td>
                                <a th:href="|@{/notice/getNotice(notice_no =${notice.notice_no})}|" class="text-decoration-none"> [[${notice.title}]] </a>
                            </td>
                            <td>[[${#temporals.format(notice.regDate, 'yyyy-MM-dd')}]]</td>
                            <td>[[${notice.visited}]]</td>
                        </tr>
                        </tbody>
                    </table>
                </div><!--end card body-->
                <div class="my-4">
                    <div class="float-end">
                        <a sec:authorize="hasRole('ADMIN')" th:href="|@{/notice/insertNotice}|" class="btn btn-primary">
                            등록
                        </a>
                    </div>
                </div>
            </div><!--end card-->
        </div><!-- end col-->
    </div><!-- end row-->
</div>
<th:block th:insert="~{layout/footer :: footer}"></th:block>

<script th:inline="javascript">
    const errors = [[${errors}]]
    console.log(errors)
    let errorMsg = ''
    if(errors){
        for (let i = 0; i < errors.length; i++) {
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        alert(errorMsg)
    }

</script>
</body>
</html>