<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:insert="~{layout/head :: head}"></th:block>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <title>EduTech::회원 가입 완료</title>
</head>
<body>

<!-- content 영역 시작 -->
<section class="vh-100 bg-primary">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

              <div class="form-outline mb-4 text-center fs-2 fw-bolder">
                <a class="text-black text-decoration-none" th:href="@{/}">EduTech</a>
              </div>

              <div class="form-outline mb-4">
                <h1>회원 가입 완료</h1>
                <p style="word-break:keep-all">회원 가입이 완료되었습니다.<br />이메일 인증을 해주시면 이용 가능합니다.</p>
              </div>

              <a th:href="@{/}" class="btn btn-primary btn-block mb-4">홈으로 이동</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- content 영역 종료 -->

<script th:src="@{/js/common.js}"></script>
</body>
</html>