<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:insert="~{layout/head :: head}"></th:block>
    <title>EduTech::회원 가입</title>
</head>
<body>

<!-- content 영역 시작 -->
<section class="vh-100 bg-primary">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="text-center fs-2 fw-bolder">
                            <a class="text-black text-decoration-none" th:href="@{/}">EduTech</a>
                        </div>
                        <ul class="joinOption clearfix my-5">
                            <li class="user"><input type="radio" name="userType" id="userType1" value="0" checked><label for="userType1">일반</label></li>
                            <li class="teacher"><input type="radio" name="userType" id="userType2" value="1"><label for="userType2">선생님</label></li>
                        </ul>
                        <div class="text-center">
                            <button class="btn btn-primary" th:onclick="|checkType()|">가입하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function checkType() {
        let type = $("input[name='userType']:checked").val();
        switch (type) {
            case "0" :
                window.location.href = "/join_frm_u";
                break;
            case "1" :
                window.location.href = "/join_frm_t";
                break;
        }
    }
</script>
<!-- content 영역 종료 -->
<script th:src="@{/js/common.js}"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>
</html>