<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="~{layout/head :: head}"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>EudTech LMS::마이페이지</title>
    <link rel="stylesheet" th:href="@{/css/sub.css}">
    <script th:inline="javascript">
        let result = [[${success}]];
        if(result != null){
            alert("정보 변경이 성공하였습니다.");
            location.href="/user/myPage";
        }
    </script>
</head>
<body>
<th:block th:insert="~{layout/header :: header}"></th:block>

<div class="container mb-5 my_page">
    <div class="row">
        <div class="col-lg-3 col-md-5 left_sidebar_area pe-5">
            <div>
                <h2 class="text-center fw-bolder py-5 bg-primary text-white mb-2">마이페이지</h2>
                <ul class="nav nav-pills flex-column mb-auto my_menu">
                    <th:block  sec:authorize="hasRole('USER')">
                        <li class="border-bottom active"><a th:href="@{/user/myPage}" class="nav-link link-dark">마이페이지</a></li>
                    </th:block>
                    <th:block  sec:authorize="!hasRole('STUDENT')">
                        <li class="border-bottom"><a th:href="@{/myPage/teacherApply}" class="nav-link link-dark">선생님신청</a></li>
                    </th:block>
                </ul>
            </div>
        </div>
        <div class="col-lg-9 col-md-7 right_side mt-5">
            <div class="row">
                <div class="position-relative ps-0 mb-5">
                    <h3 class="mb-0">마이페이지</h3>
                    <nav class="position-absolute align-middle breadcrumb_area mb-0 lh-1" aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a class="link-dark" th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item">마이페이지</li>
                            <li class="breadcrumb-item active" aria-current="page">마이페이지</li>
                        </ol>
                    </nav>
                </div>
                <form th:action="@{/myPage/modifyInfo}" th:object="${memberDTO}" method="post">
                    <section id="myPage">
                        <table class="table">
                            <colgroup>
                                <col>
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th class="text-center">이름</th>
                                <td th:text="${memberDTO.userName}"></td>
                            </tr>
                            <tr>
                                <th class="text-center">이메일</th>
                                <td th:text="${memberDTO.email}"></td>
                            </tr>
                            <tr>
                                <th class="text-center">전화번호</th>
                                <td>
                                    <input type="text" th:field="*{phone}" placeholder="010-XXXX-XXXX" class="form-control" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" th:value="${memberDTO.phone}" required />
                                    <label th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="fieldError">전화번호</label>
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="3" class="text-center">주소</th>
                                <td>
                                    <input type="text" th:field="*{addr}" placeholder="기본주소" id="address1" th:value="${memberDTO.addr}" class="form-control bg-light" required readonly/>
                                    <label th:if="${#fields.hasErrors('addr')}" th:errors="*{addr}" class="fieldError">기본주소</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" th:field="*{addrDetail}" th:value="${memberDTO.addrDetail}" placeholder="상세주소를 입력해주세요." id="address2" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" th:field="*{zipcode}" placeholder="우편번호" id="postcode" th:value="${memberDTO.zipcode}" class="form-control bg-light" style="width:65%;display:inline-block;vertical-align:top;" required readonly/>
                                    <button type="button" id="post_btn" onclick="findAddr()" class="btn btn-outline-primary" style="width:calc(35% - 17px);margin-left:10px;display:inline-block;vertical-align:top;">우편번호 검색</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="text-center mt-5">
                            <a th:href="@{/user/myPage}" class="btn btn-danger">취소</a>
                            <button type="submit" class="btn btn-primary">수정</button>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{layout/footer :: footer}"></th:block>

<script th:src="@{/js/common.js}"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

</body>
</html>