<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layout/head :: head}"></th:block>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <title>EduTech::비밀번호 초기화</title>
</head>
<body>
<section class="vh-100 bg-primary">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form th:action="@{/member/resetPassword}" method="post" onsubmit="return resetPw()">
                            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->

                            <div class="form-outline mb-4 text-center fs-2 fw-bolder">
                                <a class="text-black text-decoration-none" th:href="@{/}">EduTech</a>
                            </div>

                            <th:block th:if="${result}">
                                <input type="hidden" name="userId" th:value="${userId}" />
                                <input type="hidden" name="key" th:value="${key}" />

                                <div class="form-outline mb-4">
                                    <p class="text-left mb-1 text-start">새로운 비밀번호</p>
                                    <input type="password" id="password" name="password" placeholder="8자리 ~ 16자리와 대소문자와 특수문자" class="form-control" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,16}$" maxlength="16" minlength="8" autocomplete="on" required />
                                </div>

                                <div class="form-outline mb-4">
                                    <p class="text-left mb-1 text-start">새로운 비밀번호 확인</p>
                                    <input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="8자리 ~ 16자리와 대소문자와 특수문자" class="form-control" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,16}$" maxlength="16" minlength="8" autocomplete="on" required />
                                </div>

                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block mb-4">비밀번호 초기화</button>
                            </th:block>
                            <th:block th:unless="${result}">
                                <div class="form-outline mb-4">
                                    <p class="text-white mb-5 d-block bg-danger rounded-3 py-3">사용이 만료된 링크입니다.</p>
                                </div>

                                <a th:href="@{/findPw}" class="btn btn-primary btn-block mb-4">비밀번호 다시 찾기</a>
                            </th:block>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function resetPw() {
        let password = $("#password").val();
        let passwordConfirm = $("#passwordConfirm").val();

        if(password != passwordConfirm) {
            alert("새로운 비밀번호와 새로운 비밀번호 확인이 서로 다릅니다.");
            return false;
        }
    }
</script>
</body>
</html>
