<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="~{layout/head :: head}"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>EudTech LMS::선생님 신청</title>
    <link rel="stylesheet" th:href="@{/css/sub.css}">
</head>
<body>
    <th:block th:insert="~{layout/header :: header}"></th:block>

    <div class="container mb-5 my_page">
        <div class="row">
            <div class="col-lg-3 col-md-5 left_sidebar_area pe-5">
                <div>
                    <h2 class="text-center fw-bolder py-5 bg-primary text-white mb-2">마이페이지</h2>
                    <ul class="nav nav-pills flex-column mb-auto my_menu">
                        <li class="border-bottom"><a th:href="@{/myPage}" class="nav-link link-dark">마이페이지</a></li>
                        <th:block  sec:authorize="!hasRole('STUDENT')">
                            <li class="border-bottom"><a th:href="@{/myPage/teacherApply}" class="nav-link link-dark">선생님신청</a></li>
                        </th:block>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-7 right_side mt-5">
                <div class="row">
                    <div class="position-relative ps-0 mb-5">
                        <h3 class="mb-0">선생님 신청</h3>
                        <nav class="position-absolute align-middle breadcrumb_area mb-0 lh-1" aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a class="link-dark" th:href="@{/}">Home</a></li>
                                <li class="breadcrumb-item"><a class="link-dark" th:href="@{/myPage}">마이페이지</a></li>
                                <li class="breadcrumb-item active" aria-current="page">선생님 신청</li>
                            </ol>
                        </nav>
                    </div>
                    <section id="applyArea" class="pb-5 mb-5 border-bottom" th:if="${!finishApply}">
                        <p class="mb-0">증빙서류(*.pdf)를 제출해주시면 접수되어 서류를 검토합니다.</p>
                        <p class="mb-0">반드시 신청 및 결제 후 서류(*.pdf)를 첨부하셔야 하며(파일은 최대 10개까지 등록되며),</p>
                        <p><strong class="text-danger">미신청 서류(*.pdf)를 제출하시거나, 신청 내역과 맞지 않는 서류를 제출하시는 경우 검토가 지연될 수 있습니다.</strong></p>
                        <form th:action="@{/myPage/teacherApply}" method="post" class="text-end" onsubmit="return applyTeacher()" enctype="multipart/form-data" th:if="${canApply}">
                            <table class="table table-bordered">
                                <colgroup>
                                    <col style="width:15%;">
                                    <col style="width:auto;">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th class="text-center" style="vertical-align:top;">
                                        <label class="form-label mb-0 middle">첨부파일<span class="d-inline pt-0 px-0" style="vertical-align: top;" onclick="addFile()">(<i class="fas fa-plus px-1"></i>)</span><br />(10MB 이하)</label>
                                    </th>
                                    <td class="file_area py-3">
                                        <input class="form-control" name="uploadFiles" type="file" id="formFileMultiple1" accept="application/pdf" multiple>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <button type="submit" class="btn btn-primary">서류 제출</button>
                        </form>
                        <th:block th:unless="${canApply}">
                            <p class="text-center fs-1 fw-bold">신청중인 서류가 있습니다.</p>
                        </th:block>
                    </section>
                    <script>
                        let totalNum = 1;

                        function removeFile(num) {
                            document.getElementById("formFileMultiple" + num).remove();
                            document.getElementById("removeBtn" + num).remove();
                        }

                        function addFile() {
                            let num = document.getElementsByName("uploadFiles").length + 1;
                            if(num >= 11) {
                                alert("파일은 최대 10개까지 등록가능합니다.");
                                return false;
                            }
                            let realNum = ++totalNum;
                            const temp = `<input class="form-control mt-2" name="uploadFiles" type="file" id="formFileMultiple${realNum}" accept="application/pdf" style="width:calc(100% - 65px);display:inline-block;vertical-align:middle;" multiple><button type="button" id="removeBtn${realNum}" class="btn btn-outline-primary mt-2" style="display:inline-block;vertical-align:middle;margin-left:7px;" onclick="removeFile(${realNum})">삭제</button>`;
                            $(".file_area").append(temp);
                        }

                        function applyTeacher() {
                            let fileCnt = document.getElementsByName("uploadFiles").length;
                            for(let i = 1; i < fileCnt + 1; i++) {
                                let fileCheck = document.getElementById("formFileMultiple"+i).value;
                                if(!fileCheck) {
                                    alert(i + "번에 등록된 파일이 없습니다.");
                                    return false;
                                }
                            }
                        }
                    </script>
                    <section id="applyList">
                        <table class="table" th:if="${#lists.isEmpty(teacherHistoryList)}">
                            <colgroup>
                                <col style="width:25%;">
                                <col style="width:25%;">
                                <col style="width:25%;">
                                <col style="width:25%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">제목</th>
                                <th scope="col">신청일자</th>
                                <th scope="col">신청결과</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="4" class="text-center">신청 내역이 없습니다.</td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table" th:unless="${#lists.isEmpty(teacherHistoryList)}">
                            <colgroup>
                                <col style="width:6%;">
                                <col style="width:auto;">
                                <col style="width:25%;">
                                <col style="width:25%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th class="text-center" scope="col">#</th>
                                <th class="text-center" scope="col">제목</th>
                                <th class="text-center" scope="col">신청일자</th>
                                <th class="text-center" scope="col">신청결과</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="teacherHistory, num : ${teacherHistoryList}">
                                <th class="text-center" scope="row" th:text="${num.count}"></th>
                                <td class="text-start">
                                    <th:block th:if="${teacherHistory.fileCnt > 0}">
                                        <a th:href="|@{/myPage/teacherApplyDetail/}${teacherHistory.teacherHistoryNo}|" th:text="|${teacherHistory.filesList[0].getFileOriginNm()} 외 ${teacherHistory.fileCnt}건|"></a>
                                    </th:block>
                                    <th:block th:if="${teacherHistory.fileCnt == 0}">
                                        <a th:href="|@{/myPage/teacherApplyDetail/}${teacherHistory.teacherHistoryNo}|" th:text="|${teacherHistory.filesList[0].getFileOriginNm()}|"></a>
                                    </th:block>
                                </td>
                                <td class="text-center" th:text="${#temporals.format(teacherHistory.regDate, 'yyyy-MM-dd HH:mm')}"></td>
                                <td class="text-center" th:text="${teacherHistory.status}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <th:block th:insert="~{layout/footer :: footer}"></th:block>
</body>
</html>