<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:insert="~{layout/head :: head}"></th:block>
    <title>EduTech::회원 가입</title>
</head>
<body>

<!-- content 영역 시작 -->
<section class="vh-100 bg-primary">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form th:action="@{/upgradeTeacher}" autocomplete="off" method="post" enctype="multipart/form-data">
                            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->

                            <div class="form-outline mb-4 text-center fs-2 fw-bolder">
                                <a class="text-black text-decoration-none" th:href="@{/}">EduTech</a>
                            </div>

                            <div class="form-outline mb-4">
                                <label for="uploadFile">파일등록</label>
                                <input type="file" class="form-control uploadFiles" id="uploadFile" name="uploadFile" multiple>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">선생신청</button>
                            <button type="reset" class="btn btn-outline-primary btn-block mb-4">취소</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- content 영역 종료 -->

<script th:src="@{/js/common.js}"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>
</html>