<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/lmsLayoutAdmin">
    <th:block layout:fragment="content">
        <div class="container-fluid px-4">
            <h1 class="mt-4">선생님 신청</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item">회원관리</li>
                <li class="breadcrumb-item active">선생님 신청</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-table me-1"></i>선생님 신청 내역</div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>이름</th>
                                <th>등록일</th>
                                <th>상태</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="teacherHistory, num : ${teacherHistoryList}">
                                <th scope="row" th:text="${num.count}"></th>
                                <td><a th:href="|@{/admin/teacherApplyDetail/}${teacherHistory.mno}|" th:text="${teacherHistory.userName}"></a></td>
                                <td th:text="${#temporals.format(teacherHistory.regDate, 'yyyy-MM-dd')}"></td>
                                <td th:text="${teacherHistory.status}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </th:block>
</html>