<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QNA 상세보기</title>
    <th:block th:insert="~{layout/head :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/stylesLms.css}">
    <style>
        .content {
            width: 90%;
            padding-top: 30px;
            padding-bottom: 300px;
            margin: 0 auto;
        }
        .input-group .btn {
            margin-left: 40px;
            height: 62px;
            width: 62px;
        }
        .rounded-circle {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #0d6efd;
            font-size: 18px;
            text-align: center;
            line-height: 70px;
            color: white;
        }
        .d-flex {
            display: flex !important;
            margin-bottom: 1rem;
        }
        .ms-3 p {
            margin-top: 0;
            margin-bottom: 1rem;
            display: inline-flex;
        }
    </style>
</head>
<body>
<th:block th:insert="~{layout/lmsTop :: lmsTop}"></th:block>
<div id="layoutSidenav">
    <th:block th:insert="~{layout/lmsMenuAdmin :: lmsMenu}"></th:block>
    <div id="layoutSidenav_content">
        <main>
        <div class="content" >
            <div class="position-relative ps-0 mb-5">
                <nav class="position-absolute align-middle breadcrumb_area mb-0 lh-1" aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item">QNA 관리</li>
                        <li class="breadcrumb-item active" aria-current="page">QNA 상세</li>
                    </ol>
                </nav>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            QNA 상세
                        </div>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Title</span>
                                <input type="text" class="form-control" th:value="${qna.title}" readonly>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Content</span>
                                <textarea class="form-control col-sm-5" rows="5" readonly>[[${qna.content}]]</textarea>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Writer</span>
                                <input type="text" class="form-control" th:value="${userName}" readonly>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text"> 작성자 </span>
                                <input type="text" class="form-control" th:value="${#temporals.format(qna.regDate, 'yyyy-MM-dd')}" readonly>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">ModDate</span>
                                <input type="text" class="form-control" th:value="${#temporals.format(qna.modDate, 'yyyy-MM-dd')}" readonly>
                            </div>
                            <div class="my-4">
                                <div class="float-end">
                                    <a th:href="@{/admin/qnaList}" class="btn btn-secondary">QNA 목록</a>
                                    <a sec:authorize="hasRole('ADMIN')" th:href="|@{/admin/deleteQna(qna_no=${qna.qna_no})}|" class="btn btn-danger">삭제</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="mb-5" style="margin-top: 100px;">
                    <div class="card bg-light">
                        <div class="card-body">
                            <form action="/admin/insertComment" method="post" role="form" class="mb-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">댓글</span>
                                    <input type="hidden" name="lecture_no" th:value="${qna.lecture_no}">
                                    <input type="hidden" name="qna_no" th:value="${qna.qna_no}">
                                    <textarea class="form-control" rows="3"  name="content" placeholder="댓글 내용을 입력하세요" required></textarea>
                                    <div class="text-center"><button type="submit" class="btn btn-primary">등록</button></div>
                                </div>
                            </form><!--End Contact Form -->
                            <div class="d-flex" th:each="comment:${commentList}">
                                <div class="flex-shrink-0">
                                    <div class="rounded-circle"><p>[[${comment.userName}]]</p></div>
                                </div>
                                <div class="ms-3">
                                    <p>[[${comment.content}]]</p>
                                    <a th:href="|@{/admin/deleteComment(comment_no=${comment.comment_no}, qna_no=${comment.qna_no})}|"><p><i class="fa fa-times-circle"></i></p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        </main>
        <th:block th:insert="~{layout/lmsFooter :: lmsFooter}"></th:block>
    </div>
</div>
<script th:inline="javascript">
</script>
</body>
</html>