<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QNA 수정하기</title>
    <th:block th:insert="~{layout/head :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/stylesLms.css}">
    <style>
        .content {
            width: 80%;
            margin: 10%;
        }
    </style>
</head>
<body>
<th:block th:insert="~{layout/lmsTop :: lmsTop}"></th:block>
<div id="layoutSidenav">
    <th:block th:insert="~{layout/lmsMenuAdmin :: lmsMenu}"></th:block>
    <div id="layoutSidenav_content">
        <main>
            <div class="content">
                <div class="row mt-3">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                QNA 수정하기
                            </div>
                            <div class="card-body">
                                <form th:action="@{/admin/updateQna}" method="post">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Qno</span>
                                        <input type="text" class="form-control" th:value="${qna.qna_no}" name="qna_no" readonly>
                                        <input type="hidden" name="lecture_no" class="form-control" th:value="${0}">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Title</span>
                                        <input type="text" class="form-control" name="title" th:value="${qna.title}" required>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Content</span>
                                        <textarea class="form-control col-sm-5" rows="5" name="content" required>[[${qna.content}]]</textarea>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Writer</span>
                                        <input type="number" class="form-control" th:value="${qna.mno}" readonly required>
                                    </div>

                                    <div class="input-group mb-3">
                                        <span class="input-group-text">RegDate</span>
                                        <input type="text" class="form-control" th:value="${#temporals.format(qna.regDate, 'yyyy-MM-dd')}" readonly>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">ModDate</span>
                                        <input type="text" class="form-control" th:value="${#temporals.format(qna.modDate, 'yyyy-MM-dd')}" readonly>
                                    </div>
                                    <div class="my-4">
                                        <div class="float-end">
                                            <a th:href="@{/admin/qnaList}" class="btn btn-secondary">QNA 목록</a>
                                            <button type="submit" class="btn btn-primary">수정하기</button>
                                        </div>
                                    </div>
                                </form>
                            </div><!--end card body-->
                        </div><!--end card-->
                    </div><!-- end col-->
                </div><!-- end row-->
            </div>
        </main>
        <th:block th:insert="~{layout/lmsFooter :: lmsFooter}"></th:block>
    </div>
</div>
<script th:inline="javascript">
    const errors = [[${errors}]]
    console.log(errors)
    let errorMsg = ''
    if(errors){
        for (let i = 0; i < errors.length; i++) {
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        history.replaceState({}, null, null)
        alert(errorMsg)
    }
</script>
</body>
</html>