<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="~{layout/head :: head}"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>EudTech LMS::개인 정보 처리 방침</title>
    <link rel="stylesheet" th:href="@{/css/sub.css}">
</head>
<body>
<th:block th:insert="~{layout/header :: header}"></th:block>

<div class="container mb-5 my_page">
    <div class="row">
        <div class="col-lg-3 col-md-5 left_sidebar_area pe-5">
            <div>
                <h2 class="text-center fw-bolder py-5 bg-primary text-white mb-2">서비스</h2>
                <ul class="nav nav-pills flex-column mb-auto my_menu">
                    <li class="border-bottom"><a th:href="@{/uprivacyPolicy}" class="nav-link link-dark">개인 정보 처리 방침</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9 col-md-7 right_side mt-5">
            <div class="row">
                <div class="position-relative ps-0 mb-5">
                    <h3 class="mb-0">개인 정보 처리 방침</h3>
                    <nav class="position-absolute align-middle breadcrumb_area mb-0 lh-1" aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a class="link-dark" th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item">서비스</li>
                            <li class="breadcrumb-item active" aria-current="page">개인 정보 처리 방침</li>
                        </ol>
                    </nav>
                </div>
                <div class="container">
                    <div class="contents">
                        <div class="inner">
                            <div class="content_wrap">
                                <h3>개인정보취급방침</h3>
                                <div class="mt-5">
                                    <p>LMS는 (이하 "회사"는) 고객님의 개인정보를 중요시하며, "정보통신망 이용촉진 및 정보보호"에 관한 법률을 준수하고 있습니다.</p>
                                    <p>LMS는 개인정보취급방침을 통하여 고객님께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.</p>
                                    <p>LMS는 개인정보취급방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.</p>
                                    <p class="list_tit">본 방침은 : 2023년 08월 01일 부터 시행됩니다.</p>
                                </div>
                                <div class="mt-5">
                                    <h4>수집하는 개인정보 항목</h4>
                                    <p>LMS는 회원가입, 상담, 서비스 신청 등등을 위해 아래와 같은 개인정보를 수집하고 있습니다.</p>
                                    <ul>
                                        <li>수집항목 : 이름, 로그인ID, 비밀번호, 휴대전화번호, 이메일</li>
                                        <li>개인정보 수집방법 : 홈페이지(회원가입) </li>
                                    </ul>
                                </div>
                                <div class="mt-5">
                                    <h4>개인정보의 수집 및 이용목적</h4>
                                    <p>LMS는 수집한 개인정보를 다음의 목적을 위해 활용합니다.</p>
                                    <p class="list_tit">회원관리</p>
                                    <ul>
                                        <li>회원제 서비스 이용에 따른 본인확인, 개인 식별, 불량회원의 부정 이용 방지와 비인가 사용 방지, 가입 의사 확인, 고지사항 전달</li>
                                    </ul>
                                </div>
                                <div class="mt-5">
                                    <h4>개인정보의 보유 및 이용기간</h4>
                                    <p>LMS는 개인정보 수집 및 이용목적이 달성된 후에는 예외 없이 해당 정보를 지체 없이 파기합니다.</p>
                                </div>
                                <div class="mt-5">
                                    <h4>개인정보의 파기절차 및 방법</h4>
                                    <p>회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체없이 파기합니다. 파기절차 및 방법은 다음과 같습니다.</p>
                                    <p>파기절차 및 방법은 다음과 같습니다.</p>
                                    <ul>
                                        <li>파기절차회원님이 회원가입 등을 위해 입력하신 정보는 목적이 달성된 후 별도의 DB로 옮겨져 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기되어집니다.</li>
                                        <li>별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유되어지는 이외의 다른 목적으로 이용되지 않습니다.</li>
                                        <li>파기방법전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.</li>
                                    </ul>
                                </div>
                                <div class="mt-5">
                                    <h4>개인정보 제공</h4>
                                    <p>LMS는 이용자의 개인정보를 원칙적으로 외부에 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.</p>
                                    <ul>
                                        <li>이용자들이 사전에 동의한 경우</li>
                                        <li>법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우</li>
                                    </ul>
                                </div>
                                <div class="mt-5">
                                    <h4>수집한 개인정보의 위탁</h4>
                                    <p class="txt_dsc">LMS는 고객님의 동의없이 고객님의 정보를 외부 업체에 위탁하지 않습니다. 향후 그러한 필요가 생길 경우, 위탁 대상자와 위탁 업무 내용에 대해 고객님에게 통지하고 필요한 경우 사전 동의를 받도록 하겠습니다.</p>
                                </div>
                                <div class="mt-5">
                                    <h4>이용자 및 법정대리인의 권리와 그 행사방법</h4>
                                    <ul>
                                        <li>이용자는 언제든지 등록되어 있는 자신의 개인정보를 조회하거나 수정할 수 있으며 가입해지를 요청할 수도 있습니다. </li>
                                        <li>이용자들의 개인정보 조회·수정을 위해서는 ‘개인정보변경’(또는 ‘회원정보수정’ 등)을 가입해지(동의철회)를 위해서는 “회원탈퇴”를 클릭하여 본인 확인 절차를 거치신 후 직접 열람, 정정 또는 탈퇴가 가능합니다.</li>
                                        <li>개인정보관리책임자에게 서면, 전화 또는 이메일로 연락하시면 지체없이 조치하겠습니다. </li>
                                        <li>귀하가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체없이 통지하여 정정이 이루어지도록 하겠습니다.</li>
                                        <li>LMS는 이용자의 요청에 의해 해지 또는 삭제된 개인정보는 “LMS는 수집하는 개인정보의 보유 및 이용기간”에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.</li>
                                    </ul>
                                </div>
                                <div class="mt-5">
                                    <h4>개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항</h4>
                                    <p>LMS는 귀하의 정보를 수시로 저장하고 찾아내는 ‘쿠키(cookie)’ 등을 운용합니다. 쿠키란 전남여수산학융합원의 웹사이트를 운영하는데 이용되는 서버가 귀하의 브라우저에 보내는 아주 작은 텍스트 파일로서 귀하의 컴퓨터 하드디스크에 저장됩니다.</p>
                                    <ul>
                                        <li>쿠키 등 사용 목적회원과 비회원의 접속 빈도나 방문 시간 등을 분석, 이용자의 취향과 관심분야를 파악 및 자취 추적, 각종 이벤트 참여 정도 및 방문 횟수 파악 등을 통한 타겟 마케팅 및 개인 맞춤 서비스 제공하는 쿠키 설치에 대한 선택권을 가지고 있습니다.</li>
                                        <li>따라서, 귀하는 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.</li>
                                        <li>단, 귀하께서 쿠키 설치를 거부하였을 경우 서비스 제공에 어려움이 있을 수 있습니다.</li>
                                    </ul>
                                </div>
                                <div class="mt-5">
                                    <h4>개인정보에 관한 민원서비스 </h4>
                                    <p>LMS는 고객의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 관련 부서 및 개인정보관리책임자를 지정하고 있습니다.</p>
                                    <p class="list_tit">개인정보 관리책임자</p>
                                    <ul>
                                        <li>성명 : XXX</li>
                                        <li>전화번호 : XXX-XXX-XXXX</li>
                                        <li>이메일 : admin@lms.com</li>
                                    </ul>
                                    <br>
                                    <ul>
                                        <li>귀하께서는 회사의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보보호책임자 혹은 담당부서로 신고하실 수 있습니다.</li>
                                        <li>회사는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.</li>
                                        <li>기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.</li>
                                    </ul>
                                    <ul>
                                        <li>개인정보침해신고센터 (privacy.kisa.or.kr / 국번 없이 118)</li>
                                        <li>정보보호마크인증위원회 (www.eprivacy.or.kr/02-580-0533~4)</li>
                                        <li>대경찰청 사이버테러대응센터 (www.ctrc.go.kr/02-392-0330)/</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{layout/footer :: footer}"></th:block>
</body>
</html>