<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QNA</title>
    <th:block th:insert="~{layout/head :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/stylesLms.css}">
    <style>
        .content {
            width: 90%;
            padding-top: 30px;
            padding-bottom: 300px;
            margin: 0 auto;
        }
        .float-end {
            float: right !important;
            margin: 20px;
        }
    </style>
</head>
<body>
<th:block th:insert="~{layout/header :: header}"></th:block>
<div class="container-fluid px-4 content">
    <h1 class="mt-4">QNA</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item active">QNA</li>
    </ol>
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2 class="title">QNA</h2>
                </div>
                <div class="card-body" >
                    <h5 class="card-title">QNA 목록</h5>

                    <table class="text-center" id="datatablesSimple">
                        <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">제목</th>
                            <th scope="col">등록일</th>
                            <th scope="col">조회수</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="qna:${qnaList}"  >
                            <td>[[${qna.qna_no}]]</td>
<!--                            <td>-->
<!--                                <a sec:authorize="hasAnyRole('ADMIN', 'TEACHER','STUDENT', 'USER')" th:href="|@{/qna/getQna(qna_no =${qna.qna_no})}|" class="text-decoration-none"> [[${qna.title}]] </a>-->
<!--                            </td>-->
                            <td>
                                <div th:if="${not #authorization.expression('isAuthenticated()')}">
                                    <span class="text-decoration-none"> [[${qna.title}]] </span>
                                </div>
                                <div th:if="${#authorization.expression('isAuthenticated()')}">
                                    <a th:href="@{/qna/getQna(qna_no=${qna.qna_no})}" class="text-decoration-none"> [[${qna.title}]] </a>
                                </div>
                            </td>
                            <td>[[${#temporals.format(qna.regDate, 'yyyy-MM-dd')}]]</td>
                            <td>[[${qna.visited}]]</td>
                        </tr>
                        </tbody>
                    </table>
                </div><!--end card body-->
                <div class="my-4">
                    <div class="float-end">
                        <a th:if="${#authorization.expression('isAuthenticated() and not hasRole(''ADMIN'') ')}" th:href="|@{/qna/insertQna}|" class="btn btn-primary">
                            등록
                        </a>
                    </div>
                </div>
            </div><!--end card-->
        </div><!-- end col-->
    </div><!-- end row-->
</div>
<th:block th:insert="~{layout/footer :: footer}"></th:block>
</body>
</html>