<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QNA 상세보기</title>
    <th:block th:insert="~{layout/head :: head}"></th:block>
    <style>
        .content {
            width: 80%;
            margin: 10%;
        }
    </style>
</head>
<body>
<th:block th:insert="~{layout/header :: header}"></th:block>
<div class="content" >
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2 class="title" th:inline="text">[QNA] [[${qna.title}]]</h2>
                </div>
<!--                <div class="card-header">-->
<!--                    QNA 상세보기-->
<!--                </div>-->
                <div class="card-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Content</span>
                        <textarea class="form-control col-sm-5" rows="5" readonly>[[${qna.content}]]</textarea>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">작성자</span>
                        <input type="text" class="form-control" th:value="${qna.mno}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">RegDate</span>
                        <input type="text" class="form-control" th:value="${#temporals.format(qna.regDate, 'yyyy-MM-dd')}" readonly>
                    </div>
                    <div class="my-4">
                        <div class="float-end">
                            <a th:href="@{/qna/qnaList(lecture_no =0)}" class="btn btn-secondary">QNA 목록</a>
                            <a sec:authorize="hasRole('ADMIN')" th:href="|@{/qna/updateQna(qna_no=${qna.qna_no})}|" class="btn btn-primary">수정하기</a>
                            <a sec:authorize="hasRole('ADMIN')" th:href="|@{/qna/deleteQna(qna_no=${qna.qna_no})}|" class="btn btn-danger">삭제하기</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
</script>
<th:block th:insert="~{layout/footer :: footer}"></th:block>

</body>
</html>