<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <th:block th:insert="~{layout/head :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/stylesLms.css}">
    <title>LMS_선생님 페이지</title>
    <style>


    </style>
</head>


<body class="sb-nav-fixed">
<th:block th:insert="~{layout/lmsTop :: lmsTop}"></th:block>
<div id="layoutSidenav">
    <!--<th:block th:insert="~{layout/lmsMenuAdmin :: lmsMenu}"></th:block>-->
    <th:block th:replace="~{layout/lmsMenuTeaLec :: lmsMenu2(${lecture_no})}"></th:block>
    <div id="layoutSidenav_content">
        <main>
            <div class="layout_contents" th:with="lecture=${lecture}">
                <div class="content">

                    <div class="row mt-3">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <h2 class="title">관리자 문의</h2>
                                </div>
                                <div class="card-body" style="text-align: center; margin: 100px 0px;">

                                    <form>
                                        <div style="width: 700px;margin: 0 auto;}">

                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1" class="form-label"> </label>
                                                <input type="email" class="form-control" id="exampleFormControlInput1"
                                                       maxlength="100" placeholder="제목을 작성하세요 (EX. 강의 내용 수정 요청드립니다)">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleFormControlTextarea1" class="form-label"></label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1"
                                                          rows="10" maxlength="2000" placeholder="문의 내용을 자세히 작성하세요"></textarea>
                                            </div>


                                        </div>
                                    </form>


                                </div><!--end card body-->
                            </div><!--end card-->
                        </div><!-- end col-->
                    </div><!-- end row-->
                </div>

            </div>
        </main>
    </div>

</div>
<th:block th:insert="~{layout/lmsFooter :: lmsFooter}"></th:block>
</div>
</body>
</html>


