<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="testLayout/layoutLecLms">
<head>
    <title>LMS_선생님 페이지</title>
    <style>
        .name {
            border: none;
            position: relative;
            width: 100%;
            padding: 10px;
            background-color: #0D4991;
            color: #ffffff;
            box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            text-align: center;
            font-size: 1.25rem;
            margin-bottom: 20px;
            font-weight: bold;
            margin: 0 auto;
        }


    </style>
</head>


<th:block layout:fragment="content">
    <div id="layoutSidenav">
        <div class="layout_contents" th:with="lecture=${lecture}">
            <div class="content">

                <div class="row mt-3">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="title">수강생 리스트</h2>
                            </div>
                            <div class="card-body">


                                <!--table-->
                                <table id="datatablesSimple" class="text-center">
                                    <thead>
                                    <tr>
                                        <th class="text-center" style="vertical-align: middle">번호</th>
                                        <th class="text-center" style="vertical-align: middle">이름</th>
                                        <th class="text-center" style="vertical-align: middle">수강 상태</th>
                                        <th class="text-center" style="vertical-align: middle">강의 입장 상태</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr th:each="studentList, status: ${studentList}"
                                        style="vertical-align: middle;">
                                        <td th:text="${status.index + 1}">
                                            <!--<p th:text="${status.count }"></p>-->
                                        </td>

                                        <td>
                                            <p2 th:text="${studentList.getUserName()}"></p2>
                                        </td>
                                        <td>

                                            <p2 th:text="${studentList.getStudentStatus() == 'REQ' ? '수강신청완료' : (studentList.getStudentStatus() == 'COMPLETE' ? '수강 중' : (studentList.getStudentStatus()== 'CANCEL' ? '수강취소' : '알 수 없음'))}"></p2>


                                        </td>


                                        <td>
                                            <p2 th:if="${studentList.getEntranceYn()} == 0" th:text="'입장 전'"></p2>
                                            <p2 th:if="${studentList.getEntranceYn()} == 1" th:text="'입장 완료'"></p2>
                                            <p2 th:if="${studentList.getEntranceYn()} == 2" th:text="'지각'"></p2>
                                            <p2 th:if="${studentList.getEntranceYn()} == 3" th:text="'결석'"></p2>
                                        </td>



                                    </tr>

                                    </tbody>
                                </table>


                            </div><!--end card body-->
                        </div><!--end card-->
                    </div><!-- end col-->
                </div><!-- end row-->
            </div>


        </div>


    </div>
</th:block>
</html>


