<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QNA</title>
    <th:block th:insert="~{layout/head :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/stylesLms.css}">
    <style>
        .content {
            width: 80%;
            margin: 10%;
        }
        .float-end {
            float: right !important;
            margin: 20px;
        }
    </style>
</head>
<body>
<th:block th:insert="~{layout/lmsTop :: lmsTop}"></th:block>
<div id="layoutSidenav">
    <th:block th:replace="~{layout/lmsMenuStuLec :: lmsMenu2(${lecture_no},${student_no})}"></th:block>
    <div id="layoutSidenav_content">
        <main>
        <div class="content" >
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">[[${lecture_name}]]</a></li>
                    <li class="breadcrumb-item active" aria-current="page">QNA</li>
                </ol>
            </nav>
            <div class="row mt-3">
            <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="title">[QNA] [[${lecture_name}]]</h3>
                </div>
                <div class="card-body" >
                    <table class="text-center" id="datatablesSimple">
                        <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">제목</th>
                            <th scope="col">등록일</th>
                            <th scope="col">조회수</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="qna , status:${qnaList}"  >
                            <td th:text="${status.index + 1}"></td>
                            <td>
                                <a th:href="|@{/student/getQna(qna_no =${qna.qna_no})}|" class="text-decoration-none"> [[${qna.title}]] </a>
                            </td>
                            <td>[[${#temporals.format(qna.regDate, 'yyyy-MM-dd')}]]</td>
                            <td>[[${qna.visited}]]</td>
                        </tr>
                        </tbody>
                    </table>
                </div><!--end card body-->
                <div class="my-4">
                    <div class="float-end">
                        <a sec:authorize="hasRole('STUDENT')" th:href="|@{/student/insertQna(lecture_no=${lecture_no})}|" class="btn btn-primary">
                            등록
                        </a>
                    </div>
                </div>
            </div><!--end card-->
            </div><!-- end col-->
            </div><!-- end row-->
        </div>
        </main>
        <th:block th:insert="~{layout/lmsFooter :: lmsFooter}"></th:block>
    </div>
</div>

<script th:inline="javascript">

</script>
</body>
</html>